h1{
    text-align: center;
}
body{
    text-align: center;
    color-scheme: light dark;
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
}
.iframe{
    text-align: center;
}
html {
    --text-color-normal: #0a244d;
  }
